.body {
    width: 80%;



    form {


        .row {
            display: flex;
            align-items: baseline;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;

            input {
                width: 100%;
                height: 30px;
                border-radius: 15px;
                outline: 0;
                border: 0;
                padding: 0 20px;
            }

            label {
                padding-left: 10px;
                margin-bottom: 5px;
            }

        }

        button {
            width: 100%;
            height: 30px;
            border-radius: 15px;
            border: 0;
            outline: 0;
            background-color: #ffc451;
            font-size: 15px;
            font-weight: 600;
        }
    }

}

hr {
    width: 95%;
    margin-top: 20px;
    border: 1px solid #000;
}